html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*  ---------------Responsive Images-----------------  */

img{
    max-width:30%;
    max-height:30%;
  }

  /*  ---------------Utility Classes-----------------  */


  /*  ---------------Global Styles-----------------  */
body{
 font-family: 'Edu TAS Beginner', cursive;
 font-family: 'Roboto', sans-serif;
}

header.primary{
    background-color: #d4d4d4;
    background-image: url(../img/background.png);
    max-width:100%;
    height:auto;
    background-size:contain;
    text-align:center;
    text-decoration:double;
    text-shadow: 1px 1px #808080;
    padding:20px;
}

header.primary h1{
  font-size:2rem;
  margin:10px 0px 10px;
  color: #000;
}

header.primary nav{
  max-width:100%;
  margin:10px auto;
}

header.primary nav ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding:0;
  list-style:none;
}

ul li{
  float:left;
  width:200px;
  height:40px;
  opacity:.75;
  line-height:40px;
  text-align:center;
  font-size:20px;
}

ul li a{
  text-decoration: none;
  color:#000;
  padding:5px 10px;
  border:1px solid #c0c0c0;
  border-radius:20px;
  transition:.5s;
  background-color:aliceblue;
  font-weight:bold;
}

ul li a:hover{
  background-color:#0D6F4B;
}

/*  ---------------Section Decoration-----------------  */
#main {
  border-bottom: 1px solid #90EE90;
  padding-bottom:20px;
}

#main h2{
  color:#097969;
  width: 1500px;
  border: 5px solid #834333;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

#logo{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#craft{
 border: 1px solid #ddd;
 border-radius: 4px;
 padding: 5px;
 width: 1000px;
 display: block;
  margin-left: auto;
  margin-right: auto;
}

#figure {
  float: right;
  width: 1000px;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  margin: 50px;
  padding: 50px;
}

p.caption{
  font-size:20px;
  font-weight:bold;
  text-align:center;
  padding:20px;
  font-style: oblique;
}


#main h3{
  color:#097969;
  width: 1500px;
  border: 5px solid #834333;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.description{
  text-align:left;
  font-weight:bold;
  padding:20px;
  font-size:20px;
}

#plant{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: 50%;
}


#ending{
  background-color:#475927;
  padding:20px;
  opacity:70%;
  color:#000;
  text-align:center;
  font-weight:bold;
  font-size:20px;
}











/*  ---------------Media Queries-----------------  */

/* Tell the broweser what querie we using*/
@media screen and (max-width: 600px) {}





