/* ----- Style for css-demo*/

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  /*  ---------------Global Styles-----------------  */

  body {
    font-family: "Gabarito", cursive;
    margin: 0;
    /*the path goes here inside ()*/
    background-color:#fff;
    background-size:contain;
    background-position:center;padding: 4em 0;
    color:#000;
    border: 5px solid #000;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }

  header {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: auto;
    margin:10px 0px 10px;
    text-align:center;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}

/*trying new Style here for nac bar*/
#content {
  text-align: center;
}

#content ul {
  list-style-type: none;
  margin:10px 0px 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#content ul.first-row {
  background-color: rgb(0, 0, 0, 0.4);
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 40px;
}

#content ul.second-row {
  background-color: rgb(0, 0, 0, 0.4);
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 40px;
  margin-top: 10px; 
}

#content ul a {
  color: #000;
  text-decoration: none;
  background-color: #72d48a;
  padding: 5px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 40px;
  transition: 0.5s;
  position: relative;
  
}

/*-------------------------------------*/

/*#content ul{
  color:#ffffff;
  text-decoration:none;
  background-color:#000000;
  background-color:rgb(0,0,0,.4);
  padding:30px 60px;
  border:1px solid #c0c0c0;
  border-radius:20px;
  transition:.5s;
  position: relative;
  float: none;
 text-align: center;
}*/

/*#content ul a{
  color:#ffffff;
  text-decoration:center;
  text-decoration:none;
  background-color:#000000;
  background-color:rgb(0,0,0,.4);
  padding:5px 10px;
  border:1px solid #c0c0c0;
  border-radius:20px;
  transition:.5s;
  position: absolute;
}*/

#container{
  /*short hand written*/
  border-bottom:2px solid #90EE90;
  border-top:2px solid #90EE90;
  padding-bottom:20px;
  padding-top:20px;
}

#ending{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: auto;
    padding:10px;
    margin:10px 0px 10px;
    text-align:center;
    font-style: italic;
}



